body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.href {
  width: 400px;
  margin: 6px 4px;
}

table, th {
  border-collapse: collapse;
  border: 3px solid #245488;
}

.resultBox {
  table {
    border-collapse: collapse;
    border: 3px solid #245488;
  }
  th, td {
    border: 1px solid black;
  }
}

.spinner {
  margin-top: 10px;
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #09f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/*label {*/
/*  font-weight: bold;*/
/*}*/


/*--------------------------------------*/
/*body {*/
/*  background-color: #aaa;*/
/*  font-family: serif;*/
/*  margin: 0;*/
/*}*/

.canvasBox {
  background-color: #fff;
  border: 1px solid black;
  width: 80vw;
  height: 80vh;
  display: block;
}

.container {
  position: relative;
  width: 400px;
  height: 300px;

  /*
  display: flex;
  flex-direction: row;
  */
}

/*.resultBox {*/
/*  display: grid;*/
/*}*/

.visualizationBox {
  display: grid;
}

.transformationSceneBox {
  display: grid;
}

.translationSceneBox {
  display: grid;
}

.scaleSceneBox {
  display: grid;
}

.transformationObjectBox {
  display: grid;
}

.rotationBox {
  display: grid;
}

.parametersBox {
  position: absolute;
  /*position: page;*/
  top: 0;
  left: 81vw;
  /*width: 50%;*/
  width: 300px;
}

.legend {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
  overflow: hidden;
  font-family: monospace;
}

#text {
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
